{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Location</legend>
                <div class="form-group">
                    {{ form.location_name.label(class="form-control-label") }}
                    {{ form.location_name(class="form-control form-control-lg") }}
                </div>
            <div class="form-group">
                {{ form.add_location(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock content %}