{% extends 'layout.html' %}
{% block content %}
{%if movement_list|length < 1%}
    <h4>No Record of any Movement found please visit <a href="{{ url_for('add_movements') }}">this link</a> to add Movement</h4>
{% else %}
    <h4>Movements</h4>
    <table class="table table-borderless">
        <thead>
            <th scope ="col"> ID </th>
            <th scope="col"> FROM </th>
            <th scope ="col"> TO </th>
            <th scope ="col"> PRODUCT </th>
            <th scope ="col"> QUANTITY </th>
            <th scope ="col"> TIME </th>
            <th scope ="col"> ACTIONS </th>
        </thead>
        {% for m in movement_list %}
        <tr>
            <td>{{m.movement_id}}</td>
            <td style="width: 20%">{{m.from_location.location_name}}</td>
            <td style="width: 20%">{{m.to_location.location_name}}</td>
            <td>{{m.product.product_name}}</td>
            <td>{{m.quantity}}</td>
            <td style="width: 20%">{{m.curr_time}}</td>
            <td style="width: 30%">
                <a href="/view_movements/{{m.movement_id}}/update" class="btn btn-info" style="width: 48%; font-size:2px%">Update</a>
            </td>
        </tr>
        {% endfor %}
        {% endif %}
    </table>
{% endblock %}       