{% extends 'layout.html' %}
{% block content %}
{%if product_list|length < 1%}
    <h4>No Products found please visit <a href="{{ url_for('add_product') }}">this link</a> to add Product</h4>
{% else %}
    <h4>Available Products</h4>
    <table class="table table-borderless">
        <thead>
            <th>
               ID
            </th>
            <th>
                PRODUCT NAME
            </th>
            <th>
                QUANTITY
            </th>
            <th>
                ACTIONS
            </th>
        </thead>
        {% for products in product_list %}
        <tr>
            <td>{{products.id}}</td>
            <td>{{products.product_name}}</td>
            <td>{{products.quantity}}</td>
            <td>
                <a href="/view_products/{{products.id}}/update" class="btn btn-info">Update</a>
            </td>
        </tr>
        {% endfor %}
        {% endif %}
    </table>
{% endblock %}    