{% extends 'layout.html' %}
{% block content %}
    {%if unall|length <1%}
        <h4>Nothing to display</h4> 
    {% else %}        
    <div class="container">
    <legend class="border-bottom mb-4">Status</legend>
    <table class="table table-borderless">
        <thead>
            <th>Location</th>
            <th>Product</th>
            <th>Quantity</th>
        </thead>
        {% for row in status_list %}
        <tr>
            <td>{{row.location}}</td>
            <td>{{row.product}}</td>
            <td>{{row.quantity}}</td>
        </tr>
        {% endfor %}
    </table>
    
    
</div>
<div class="container">
    <legend class="border-bottom mb-4">Unallocated Items</legend>
    <table class="table table-borderless">
        <thead>
            <th>Product</th>
            <th>Unallocated Quantity</th>
        </thead>
        {% for u in unall %}
        <tr>
            <td>{{u.product_name}}</td>
            <td>{{u.quantity}}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}  
{% endblock %}       